html {
 margin: 0;
}

body {
  margin: 0 20px;
}

.node {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  border: 1px solid #bbb;
  border-radius: 5px;

  &.checked {
    background-color: seagreen;
    transition: background-color 250ms linear;
  }

  .title {
    font-size: 1.5rem;
  }

  .actions {
    display: flex;
    flex-direction: column;

    app-button {
      margin-top: 10px;
    }
  }
}

.children {
  display: flex;
  margin-top: 40px;
  position: relative;

  & > * {
    margin: 0 20px;
  }

  &::after {
    content: "";
    border-left: 1px solid #bbb;
    position: absolute;
    top: -40px;
    right: 50%;
    height: 20px;
  }

  & > *:first-child::before {
    content: "";
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-top-right-radius: 5px;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 50%;
    width: 25%;
  }

  & > *:last-child::before {
    content: "";
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top-left-radius: 5px;
    height: 20px;
    position: absolute;
    top: -20px;
    right: 50%;
    width: 25%;
  }
}
